In [1]:
import pandas as pd

df = pd.read_csv('sudoku.csv')
df.head()

,puzzle,solution
0,0700000430400096108006349000940520003584600200...,6795182435437296188216349577943521863584617292...
1,3010865040465210705000000014008000020803479000...,3719865248465213795924738614638197522853479167...
2,0483015603600080909106700030200009355090102006...,7483915623652487919126754834217869355894132766...
3,0083170000042051090000400703271609049014500000...,2983176457642851391539462783271689549814537266...
4,0408906300001368208007405190004670524500207002...,1428956379751368248367425193984671524513287962...

In [2]:
print(df.shape)

(9000000, 2)

In [3]:
import random

idx = int(len(df) * random.random())
puzzle = df.iloc[idx]['puzzle']
solved = df.iloc[idx]['solution']
print(len(puzzle), len(solved))

81 81

In [4]:
def print_puzzle(p):
    for i in range(0, len(p), 9):
        if i % 27 == 0:
            print('|-------|-------|-------|')
        chunk = p[i:i+9]
        line = f'| {chunk[0]} {chunk[1]} {chunk[2]} |'
        line += f' {chunk[3]} {chunk[4]} {chunk[5]} |'
        line += f' {chunk[6]} {chunk[7]} {chunk[8]} |'
        print(line)            
    print('|-------|-------|-------|')

In [5]:
print_puzzle(puzzle)

|-------|-------|-------|
| 0 0 0 | 3 7 4 | 0 0 9 |
| 0 4 0 | 0 0 0 | 0 5 0 |
| 0 0 1 | 2 0 5 | 0 0 8 |
|-------|-------|-------|
| 0 3 0 | 1 0 0 | 0 6 0 |
| 0 0 5 | 8 0 0 | 1 0 3 |
| 0 0 6 | 0 3 0 | 0 8 4 |
|-------|-------|-------|
| 6 1 0 | 9 0 0 | 8 7 0 |
| 0 9 0 | 0 0 0 | 3 0 1 |
| 8 0 0 | 0 0 0 | 0 9 0 |
|-------|-------|-------|

In [6]:
print_puzzle(solved)

|-------|-------|-------|
| 5 8 2 | 3 7 4 | 6 1 9 |
| 3 4 9 | 6 8 1 | 7 5 2 |
| 7 6 1 | 2 9 5 | 4 3 8 |
|-------|-------|-------|
| 4 3 8 | 1 5 2 | 9 6 7 |
| 9 7 5 | 8 4 6 | 1 2 3 |
| 1 2 6 | 7 3 9 | 5 8 4 |
|-------|-------|-------|
| 6 1 4 | 9 2 3 | 8 7 5 |
| 2 9 7 | 5 6 8 | 3 4 1 |
| 8 5 3 | 4 1 7 | 2 9 6 |
|-------|-------|-------|

In [11]:
sample = df.sample(frac=0.01)
print(sample.shape)

(90000, 2)

In [12]:
num_zeros = []
for _, row in sample.iterrows():
    p = row['puzzle']
    count = 0
    for i in p:
        if i == '0':
            count += 1
    num_zeros.append(count)
sample['num_zeros'] = num_zeros
sample.head()

,puzzle,solution,num_zeros
849224,0170049004600000010000300008401503600317804097...,3175649284628975319852316748491523672317864597...,46
6940537,0861003074050609219070000080094315705230004007...,2861953474358679219173426588694315725236784197...,36
3641057,0720935463196542874000201907519026002304067006...,8721935463196542874658271937519826342384167596...,27
7970279,0060000200076485315001900000050004033007500807...,1865739242976485315431928679152864733247516897...,44
2304397,4037080010976000481864059000413768050000890600...,4237986515976213481864359722413768957352891649...,39

In [13]:
sample.describe()

          num_zeros
count  90000.000000
mean      42.085567
std        6.111673
min        6.000000
25%       39.000000
50%       43.000000
75%       47.000000
max       57.000000

In [10]:
sample.to_csv('sample.csv', index=False)